.filmItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px;
  .filmCover{
    position: relative;
    width: 200px;
    img {
      display: block;
      width: 100%;
    }
  }
  .filmDetails {
    padding: 10px;
    h4 {
      margin-left: 17px;
    }
  }
}