.seats-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(10, 50px);
    /* grid-auto-flow: row; */
    gap: 10px;
    justify-content: center;
}

.seat {
    background-color: rgb(212, 191, 162);
    color: white;
    border-radius: 5px;
    display: flex;
    box-shadow: 5px 5px 55px rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.letter {
    /* background-color: rgb(57, 138, 111); */
    background-color: rgb(0, 49, 0);
    border: 2px solid rgb(65, 65, 65);

}

.taken {
    background-color: rgb(73, 70, 70);
    border: 2px solid rgb(97, 93, 93);
}

.reserved {
    background-color: rgb(7, 117, 7);
    border: 2px solid rgb(61, 136, 61);
}